@model ETS.Models.Entity.UserMaster
@{
    Layout = null;
}

<!DOCTYPE html>
<link href="~/Contents/CSS/login.css" rel="stylesheet" />
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ETS</title>
</head>
<body style="background-color:#2E5E79">
    @using (Html.BeginForm())
    {
        <div class="login_box">
            <div class="login_table">
                <table width="100%" align="center" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="padding_10 login_logo_border">
                            <img src="~/Contents/Images/logo.jpg" />
                        </td>
                    </tr>
                    <tr>
                        <td class="login_header_title">
                            Employee Time Attendance System
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            <table width="70%" class="login_inner_table" cellpadding="3" cellspacing="3">
                                <tr>
                                    <td style="text-align: left">User Name</td>
                                    <td style="text-align: left">
                                        @Html.TextBoxFor(emp => emp.UserName)
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center" colspan="2">
                                        @Html.ValidationMessageFor(emp => emp.UserName)
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">Password</td>
                                    <td style="text-align: left">
                                        @Html.PasswordFor(emp => emp.Password)
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center" colspan="2">
                                        @Html.ValidationMessageFor(emp => emp.Password)
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center" colspan="2">
                                        <input type="submit" value="Login" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td height="15px"></td>
                    </tr>
                    <tr>
                        <td class="login_copyright">
                            Copyright © 2015.
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    }
</body>
</html>
