body {
    font-family: Tahoma,Verdana,Sans-Serif;
    font-size: 13px;
    vertical-align: middle;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    background-color: #2E5E79;
    color: #fff;
}

.header {
    margin: 10px;
    text-align: center;
    background-color: #204562;
}

.header_container {
    padding: 10px;
}

.header a {
    color: #A1EAFF;
    text-decoration: none;
}

.float_left {
    float: left;
}

.float_right {
    float: right;
}

.margin_left10 {
    margin-left: 10px;
}

.margin_right10 {
    margin-left: 10px;
}

.clear {
    border: 0;
    clear: both;
    float: none;
    font-size: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 0;
    height: 0;
}

.textalign_left {
    text-align: left;
}

.header_leftbox {
    width: 50%;
}

/* MENU */

.menuItemStyle {
    text-align: center;
    height: 35px;
    background-color: #FBFBFB;
}

.staticMenuItemStyle {
    background-color: #FBFBFB;
    color: #000;
    height: 35px;
    text-align: center;
    /*padding: 0px 15px 0px 15px;*/
    width: 100px;
}

    .staticMenuItemStyle:hover {
        text-decoration: none;
    }

    .staticMenuItemStyle a:hover {
        color: #fff;
    }

.dynamicMenuItemStyle {
    background-color: #204562;
    color: #fff;
    border-bottom: 1px solid #A1EAFF;
    height: 27px;
    text-align: left;
    padding-left: 5px;
    width: 170px;
}

    .dynamicMenuItemStyle:hover {
        text-decoration: none;
    }

    .dynamicMenuItemStyle a:hover {
        color: #000;
    }

.staticHoverStyle {
    background-color: #204562;
    color: #fff;
    height: 35px;
    text-align: center;
    border: 1px solid #A1EAFF;
}

    .staticHoverStyle:hover {
        text-decoration: none;
    }

.dynamicHoverStyle {
    background-color: #FBFBFB;
    color: #000;
    height: 27px;
    text-align: left;
    padding-left: 5px;
}

    .dynamicHoverStyle:hover {
        text-decoration: none;
    }

.margin_10 {
    margin: 10px;
}

.padding_10 {
    padding: 10px;
}

.content {
    background-color: #fff;
    min-height: 450px;
    color: #000;
}

    .content a {
        color: #204562;
        font-weight: bold;
        text-decoration: none;
    }

        .content a:hover {
            color: #204562;
            text-decoration: underline;
        }

.page_title {
    background-color: #E6F0F3;
    border: 1px solid #B3CBD6;
    padding: 10px 0px 10px 15px;
    color: #204562;
    font-size: 15px;
    font-weight: bold;
}

.copyright {
    padding: 5px;
    background-color: #204562;
    color: #fff;
    text-align: center;
}

.button {
    height: 30px;
    color: #fff;
    background-color: #204562;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    -o-border-radius: 3px;
    text-align: center;
    font-size: 15px;
    padding: 3px;
    border: 1px solid #e1e1e1;
    min-width: 130px;
}

.textbox {
    border: 1px solid #e1e1e1;
    padding: 5px;
}

.dropdownlist {
    border: 1px solid #e1e1e1;
    padding: 5px 5px 5px 0px;
}


.modalBackground {
    background-color: Gray;
    filter: alpha(opacity=70);
    opacity: 0.7;
}

.modalPopup {
    background-color: #FFFFFF;
    border: 2px solid #204562;
}

.close_button {
    margin: -60px -20px 0px 0px;
    text-align: right;
}

.error_msg {
    text-align: center;
    color: red;
}

.modalpopup_content {
    margin-top: 30px;
    padding: 10px;
}

.success_msg {
    padding:10px;
    min-width:200px;
    border:1px solid #47a849;
    background-color:#9de09e;
}


   .menuTemplate4
{

    margin: 0 auto; width: auto;float:left;   
    position:relative;
    z-index:4;
    height: 36px;
    background: #2777A3 url(bg.gif);
    border: 1px solid #036;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    padding: 0;
}
    .menuTemplate4 li
{
    padding: 0;
    float: left;
    height: 36px;
    position: relative;
    color: black;
    z-index:5;
}
.menuTemplate4 li:hover, .menuTemplate4 li.onhover
{
    border-top:1px solid #CC0000;
}

.menuTemplate4 a
{
    padding: 0 30px;
    line-height: 35px;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    outline: 0;
    text-decoration: none;
    color: white;
    position: relative;
}
.menuTemplate4 li:hover a, .menuTemplate4 li.onhover a
{
    background-color: #80CBF0;
    color: #000;    
    z-index: 9;
}
.menuTemplate4 a.arrow
{
    background: url(arrow.gif) no-repeat right center;
}

.menuTemplate4 li.menuRight
{
    float: right;
    margin-right: 0px;
}

.menuTemplate4 li.separator
{
    display:none;
}

.menuTemplate4 .drop
{
    position: absolute;
    z-index:5;
    left: -9999px;
    border: 1px solid #DDD;
    border-bottom:3px solid #990000;
    background: #FFF;            
    text-align: left;
    padding: 20px;  
    color:#0F4F89;
    top:34px;              
}

.menuTemplate4 .drop a
{
    padding-left: 0px;
    padding-right: 0px;
    line-height: 26px;
    font-size: 12px;
    font-weight: normal;
    display: inline;
    text-align: left;    
    position: static;
    z-index: 0;
    background-image:none;
}

.menuTemplate4 li:hover .drop, .menuTemplate4 li.onhover .drop
{
    left: 1px;
    background:#DAF0FE url(bg-right.png) no-repeat right bottom;
    width:62px;
}
.menuTemplate4 li:hover .dropToLeft, .menuTemplate4 li.onhover .dropToLeft
{
    left: auto;
    right: -1px;
    background:white url(bg-left.png) no-repeat 0 bottom;
}
.menuTemplate4 li:hover .dropToLeft2, .menuTemplate4 li.onhover .dropToLeft2
{
    left: auto;
    right: -60px;
}

.menuTemplate4 div.drop div div
{
    padding: 6px 20px;
}
.menuTemplate4 li:hover .drop a, .menuTemplate4 li.onhover .drop a
{
    background: none;
    background-image:none;
    padding:0 0;
}
.menuTemplate4 div.drop div a
{
    line-height: 24px;  
    color: #0F4F89;
    background:none;
}
.menuTemplate4 div.drop div a:hover
{
    text-decoration:underline;
    cursor:pointer;
    color:Red;
}

.menuTemplate4 div.left {float:left;}

.decor4_1 
{
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;

    -moz-box-shadow: 0px 1px 4px #999;
    -webkit-box-shadow: 0px 1px 4px #999;
    box-shadow: 0px 1px 4px #999;

}

.decor4_2 
{
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;

    -moz-box-shadow: 0 4px 10px #CCC;
    -webkit-box-shadow: 0 4px 10px #CCC;
    box-shadow: 0 4px 10px #CCC;  
}



/*Table--------------------------------------------------------*/
.CSSTableGenerator {
	margin:0px;padding:0px;
	width:70%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:15px;
	-webkit-border-bottom-left-radius:15px;
	border-bottom-left-radius:15px;
	
	-moz-border-radius-bottomright:15px;
	-webkit-border-bottom-right-radius:15px;
	border-bottom-right-radius:15px;
	
	-moz-border-radius-topright:15px;
	-webkit-border-top-right-radius:15px;
	border-top-right-radius:15px;
	
	-moz-border-radius-topleft:15px;
	-webkit-border-top-left-radius:15px;
	border-top-left-radius:15px;
}.CSSTableGenerator table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright:15px;
	-webkit-border-bottom-right-radius:15px;
	border-bottom-right-radius:15px;
}
.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft:15px;
	-webkit-border-top-left-radius:15px;
	border-top-left-radius:15px;
}
.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright:15px;
	-webkit-border-top-right-radius:15px;
	border-top-right-radius:15px;
}.CSSTableGenerator tr:last-child td:first-child{
	-moz-border-radius-bottomleft:15px;
	-webkit-border-bottom-left-radius:15px;
	border-bottom-left-radius:15px;
}.CSSTableGenerator tr:hover td{
	background-color:#2e5e79;
		

}
.CSSTableGenerator td{
	vertical-align:middle;
	
	background-color:#aad4ff;

	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:9px;
	font-family:Arial;
	font-weight:normal;
	color:#050505;
}.CSSTableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
		background:-o-linear-gradient(bottom, #005fbf 5%, #204562 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #204562) );
	background:-moz-linear-gradient( center top, #005fbf 5%, #204562 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#204562");	background: -o-linear-gradient(top,#005fbf,204562);

	background-color:#005fbf;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:10px;
	font-family:Arial;
	font-weight:normal;
	color:#ffffff;
}
.CSSTableGenerator tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #005fbf 5%, #204562 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #204562) );
	background:-moz-linear-gradient( center top, #005fbf 5%, #204562 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#204562");	background: -o-linear-gradient(top,#005fbf,204562);

	background-color:#005fbf;
}
.CSSTableGenerator tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}
/*---------------------------------------------------------------*/